@media only screen and (min-width:320px) and (max-width:767px) {
	body{
		background-color:pink;
	}
	label{
		color:blue;
		font-family: verdana;
		font-size:4%;
	}
	input[type=text]{
		width:15%;
		padding:2%;
		box-shadow:0 0 8px 0 gray;
		border:none;
		border-radius:10%;
	}
 

  }
   @media only screen and (min-width:768px) and (max-width:1023px) {
   	body{
		background-color:lightgreen;
	}
   	label{
		color:green;
		font-family: verdana;
		font-size:4%;
	}
	input[type=text]{
		width:40%;
		padding:5%;
		
	}
  
  
  }